@import 'variables';

:root {
    --background-color: #{$red};
    --background-color2: #{$white};
    --title-color: #{$white};
    --subtitle-color: #{$white};
    --footer-color: #{$red};
    --nav-color: #{$white};
    --summary-color: #{darken($lightGrey, 1%)};
    --whitebg: #{$white};
}