:root {
  --background-color: #cd403d;
  --background-color2: #f5f5f5;
  --title-color: #ededed;
  --subtitle-color: #ffffff;
  --nav-color: #ffffff;
  --footer-color: #cd403d;
  --home-discover-color: #ffffff;
}