:root {
  --background-color: #cd403d;
  --background-color2: #bb68ec;
  --title-color: #ffffff;
  --subtitle-color: #ffffff;
  --nav-color: #ffffff;
  --footer-color: #cd403d;
  --home-discover-color: #ffffff;
}