body.dark-mode {
    background-color: #202945;
    color: #fff;

    h1 {
        color: #fff;
    }
}

footer.dark-mode {
    background-color: #152028;
    color: #fff;
}

nav.dark-mode {
    background-color: #152028;
    color: #fff;

    a {
        color: #fff;
    }
}

.dropdown-content.show {
    background-color: #202945;
    color: #fff;
}

.card {
    background-color: #152028;
    color: #fff;
}