$black: #000;
$white: #fff;
$blue: #0d6efd;
$grey: #6c757d;
$red: #CD403D;
$darkGrey: #152028;
$darkBlue: #202945;
$lightGrey: #f8f9fa;

$md-size: 1024px;

:root {
	/* Couleurs */
	--background-admin-color: #{$white};
	--summary-color: #{darken($lightGrey, 1%)};
    --whitebg: #{$white};
	--white: #{$white};
	--blue: #{$blue};
	--blue-darker: #{darken($blue, 10%)};
	--grey: #{$grey};
	--light-grey: #{$lightGrey};
	--grey-darker: #{darken($grey, 10%)};
	--red: #{$red};
	--red-darker: #{darken($red, 10%)};
	--button-bg-color: #{$black};
	--button-bg-hover-color: #{lighten($black, 10%)};

	--text-color: #{$darkGrey};
	--text-color2: #{$white};
	/* Radius */
	--main-radius: #{rem(6)};
	/* Fonts */
	--main-font: #{$font1};
	/* Transitions */
	--transition-duration: 0.3s;
}


/* Ecrans */
$md-size: 1024px;
