.card {
	color: var(--text-color);
	width: rem(320);
	border-radius: var(--main-radius);
	padding: rem(20);
	background-color: var(--whitebg);
	border: solid lighten($black, 20) rem(1);
	padding-top: rem(200);
	position: relative;
	overflow: hidden;
	display: inline-block;
	transition: transform 0.3s ease-in-out;


	&:hover {
        transform: scale(1.05);
    }

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: rem(200);
		object-fit: cover;
		object-position: center;
	}
	h1 {
		font-weight: 600;
		font-size: rem(20);
		line-height: 1;
		margin-bottom: rem(10);
	}
	p {
		font-size: rem(16);
		line-height: 1.5;
		font-weight: 400;
		margin: rem(10) 0;
	}

	&-full {
		img {
			height: 100%;
		}
		h1,
		p,
		.button {
			position: relative;
			z-index: 1;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				to top,
				$white 0%,
				transparentize($white, 1) 100%
			);
		}
		
	}
}

.card-page {
	background-color: var(--whitebg);
	border-radius: 8px;
	width: 300px;
	padding-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
  
	&:hover {
	  transform: translateY(-8px);
	  transition: transform 0.3s ease-in-out;
	}
  
	h3 {
	  text-align: center;
	  color: var(--text-color);
	}
  
	hr {
	  color: #E3E3E3;
	  width: 80%;
	}
}

.viewProductAdmin {
	background-color: var(--whitebg);
	border-radius: 12px;
	width: 350px;
	padding-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
  
	&:hover {
	  transform: translateY(-8px);
	  transition: transform 0.3s ease-in-out;
	}
  
	h3 {
	  text-align: center;
	  font-size: 1.25rem;
	  font-family: 'Raleway', sans-serif;
	  font-weight: 800;
	  color: var(--text-color);
	}
  
	hr {
	  color: #E3E3E3;
	  width: 80%;
	}
  
	img {
	  width: 100%;
	  height: 200px;
	  object-fit: cover;
	  border-radius: 12px 12px 0px 0px;
	}
  
	p {
	  margin: 10px;
	  color: var(--text-color);
	}
  
	.priceAdmin {
	  font-family: 'Raleway', sans-serif;
	  font-weight: 800;
	  text-align: center;
	  font-size: 1.25rem;
	}
}




