* {
	box-sizing: border-box;
}

body {
	font-family: $font1;
	color: var(--text-color);
	//background-color: $grey;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--blue);
	text-decoration: none;
}

input {
	&[type="text"],
	&[type="password"],
	&[type="number"] {
		padding: 0.67em 1em;
		border-radius: var(--main-radius);
		border: solid thin var(--grey);
		min-width: rem(220);
		color: var(--grey);
	}
}
