body.home-body {
  margin: 0;
}

.bg-img-home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/background_img1.png");
  min-height: 45rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-header-home {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-home {
  color: var(--title-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  animation: fadeIn 2s;
}

.subtitle-home {
  color: var(--subtitle-color);
  font-family: 'Raleway', sans-serif;
  font-size: 1.50rem;
  text-align: center;
  animation: fadeIn 2s;
}

.center-home {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chevron-double-home {
  color: white;
  width: 20%;
  align-self: center;
  margin-top: 75px;
  transition: 0.3s;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.spacer-home {
  margin-top: 320px;
}

.container-home {
  position: absolute;
  top: 40px;
  right: 150px;
  margin: auto;
}

.nav-home {
  background-color: var(--nav-color);
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;

  li {
    display: inline-block;
  }

  a {
    color: #CD403D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Poppins', sans-serif;

    &.active, &:hover {
      text-decoration: underline #CD403D 3px; 
    }
  }
}

footer.footer-home {
  background-color: var(--footer-color);
  padding: 20px;
  text-align: center;
  padding-top: 50px;

  li {
    display: inline;
    margin: 20px;
  }

  a, hr {
    color: white;
  }

  p {
    color: white;
    font-size: 1em;
    text-align: center;
  }
}

.social-media-home {
  position: relative;
  font-size: 2em;
  text-align: right;
  right: 80px;

  a {
    margin: 10px;
  }
}

#toggle-dark-mode {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}