.billing-details {
  background-color: var(--background-color2);
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    h2.title-order {
      color: var(--text-color);
      font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%;

      @media (max-width: 600px) {
        font-size: 1.75rem;
      }
    }
  }

  hr {
    width: 1136px;
    height: 1px;
    color: #c1c1c1;

    @media (max-width: 600px) {
      display: none;
    }
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  h2 {
    text-align: center;
  }

  svg {
    color: #c1c1c1;
  }
}

.image-product-cart {
  object-fit: cover;
}
.stepper-order {
  display: flex;
  justify-content: space-around;

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }

  .step {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    @media (max-width: 600px) {
      width: 100%;
    }

    .step-number {
      color: black;
      background-color: #f0f0f0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      &.active {
        background-color: #2f567e;
        color: white;
      }
    }

    .step-title {
      font-family: Poppins;
      text-align: center;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.main-order {
  margin-bottom: rem(40);
  background-color: var(--background-color2);
  padding-top: 100px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.left-order {
  margin-left: 15%;
  margin-right: 15%;
}

.delivery-payment-address-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--summary-color);
  border-radius: 10px;
  padding: 30px;

  input {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-style: none;
    color: #000;
    border: 1px solid black;
  }

  select {
    height: 35px;
    margin-bottom: 20px;
  }

  .btn-security {
    width: 50%;
    border: 1px solid black;
  }
}

.payment_image {
  width: 150px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}

.order-summary {
  background-color: var(--summary-color);
  padding: rem(24);
  border-radius: rem(15);
  width: 60%;

  @media (max-width: 600px) {
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  img {
    width: 96px;
    height: 75px;
    border-radius: 11px;
  }

  hr {
    height: 4px;
    background-color: #d9d9d9;
    border-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.product-order {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  padding: rem(12);
  gap: rem(24);

  .product-img {
    width: 40%;
    height: rem(128);
    border-radius: rem(12);
    object-fit: cover;
  }

  & p {
    margin: 0;
    font-size: rem(14);
  }

  svg {
    width: 25px;
  }
  h3 {
    margin: 0 0 rem(5) 0;
  }
  & div {
    flex-grow: 1;
  }
}
.discount-code {
  display: flex;
  justify-content: space-around;

  input {
    width: 70%;
    height: 40px;
  }
}

.total-order {
  margin-bottom: 50px;
}

.main-summary {
  background-color: var(--background-color2);
  display: flex;
  margin-bottom: rem(40);
  justify-content: space-center;
  width: 100%;
  padding: rem(64) rem(24);

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.summary {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin-right: rem(16);
  padding: rem(24);

  hr {
    color: lightgray;
    display: block;
    width: 100%;
    height: 1px;
  }

  .adress-recap {
    display: flex;
    background-color: white;
    padding: rem(16) rem(36);
    border-radius: rem(12);
    box-shadow: rem(-2) rem(1) rem(6) 0 rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin-bottom: 20px;
    & p {
      margin: 0 0 rem(4) 0;
      font-size: rem(12);
      font-weight: 600;
    }
  }

  button {
    margin-top: 30px;
  }
}
table {
  width: 80%;
  margin: rem(40) auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
  font-family: poppins;

  thead {
    background-color: #f0f0f0;
    color: var(--text-color);
  }

  th,
  td {
    text-align: left;
    padding: auto;
    border: 1px solid #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  svg {
    width: 25px;
  }
  .btn-minus-add {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    gap: 10px;
  }

  button {
    border: none;
    background-color: transparent;
  }
  img {
    margin-left: 2%;
    width: 96px;
    height: 75px;
    border-radius: 11px;
  }
}

.fast-payment{
  text-align: center;
}

.step-titles {
  display: flex;
  flex-direction: column;
  width: 50%;
}