main.main-products {
    background-color: var(--background-color2);
}

section.products-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @media (max-width: 600px) {
        flex-direction: column;
      }
}

.content-header-products {
    display: flex;
    justify-content: space-between;
    height: 50px;

    .filter {
        margin-top: 12px;
        margin-right: 10px;
    }
}

.products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;

    @media (max-width: 600px) {
        justify-content: center;
      }
}


.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}