/*
.button {
	--text-color: var(--white);
	--text-hover-color: var(--white);
	display: inline-block;
	font-family: var(--main-font);
	color: var(--text-color);
	text-decoration: none;
	font-weight: 600;
	font-size: rem(16);
	line-height: rem(18);
	padding: rem(10) rem(16);
	border-radius: var(--main-radius);
	border: none;
	background-color: var(--button-bg-color);
	cursor: pointer;
	transition: all var(--transition-duration);
	&:hover {
		background-color: var(--button-bg-hover-color);
		color: var(--text-hover-color);
	}

	// Modificateurs de couleur
	&-primary {
		--button-bg-color: var(--blue);
		--button-bg-hover-color: var(--blue-darker);
	}
	&-secondary {
		--button-bg-color: var(--grey);
		--button-bg-hover-color: var(--grey-darker);
	}
	&-danger {
		--button-bg-color: var(--red);
		--button-bg-hover-color: var(--red-darker);
	}

	&-outline {
		--button-bg-color: transparent;
		--button-bg-hover-color: var(--text-color);
		--text-hover-color: var(--white);
		border: solid thin currentColor;
	}

	// Modificateurs de taille
	&-lg {
		padding: rem(16) rem(24);
	}
	&-sm {
		padding: rem(8) rem(12);
	}
}
*/

/* --- START ADMIN BUTTONS --- */

.btnAddAdmin {
	border: none;
	background-color: #2F567E;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	width: 180px;
	height: 40px;
	border-radius: 4px;
}

.btnPageAdmin {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}
  
.btnViewAdmin {
	border-color: #2F567E;
	border-radius: 4px;
	border-width: 1px;
	background-color: white;
	color: #2F567E;
}
  
.btnEditAdmin {
	border: none;
	border-radius: 4px;
	border-width: 1px;
	background-color: #2F567E;
	color: white;
}
  
.btnDeleteAdmin {
	border: none;
	border-radius: 4px;
	border-width: 1px;
	background-color: #CD403D;
	color: white;
}
  
.btnViewAdmin, .btnEditAdmin, .btnDeleteAdmin {
	font-size: 0.85rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 90px;
	height: 40px;
}
  
.btnEditAdmin:hover, .btnAddAdmin:hover {
	background-color: #4d6ae0;
}
  
.btnViewAdmin:hover {
	background-color: #E3E3E3;
}
  
.btnDeleteAdmin:hover {
	background-color: #e04d4d;
}

.btnProductAdmin {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}

.btnSaveChangeAdmin, .btnCancelChangeAdmin {
	width: 200px;
	height: 40px;
}
  
.btnSaveChangeAdmin {
	border: none;
	border-radius: 4px;
	border-width: 1px;
	background-color: #1E3050;
	color: white;
}
  
.btnCancelChangeAdmin {
	border-color: #1E3050;
	border-radius: 4px;
	border-width: 1px;
	color: #1E3050;
}
  
.btnSaveChangeAdmin:hover {
	background-color: #5773a1;
}
  
.btnCancelChangeAdmin:hover {
	background-color: #d7e6ff;
}

/* --- END ADMIN BUTTONS --- */

/* --- START CONFIG BUTTONS --- */

.btnConfig {
	position: fixed;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	padding: 15px 30px;
	font-size: 1.2em;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	background-color: #E63946;
	text-decoration: none;
	transition: all 0.5s;
  
	span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
  
	  &:after {
		content: '>>';
		position: absolute;
		opacity: 0;
		right: -25px;
		transition: 1s;
	  }
	}
  
	&:hover span {
	  padding-right: 25px;
  
	  &:after {
		opacity: 1;
		right: 0;
	  }
	}
  }

/* --- END CONFIG BUTTONS --- */

/* --- START CONNECTION BUTTONS --- */

.button-connection {
	display: flex;
	width: 270px;
	height: 40px;
	padding: 10px 89.5px 10px 88.5px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: var(--lisi-primary-lisi-primary, #0AF);
	font-family: 'Raleway', sans-serif;
  }

/* --- END CONNECTION BUTTONS --- */  
