
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]

# Disable access to .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>