@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=auto');

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/imgdrapeaux.jpg), lightgray (50% / cover) no-repeat;
}

#h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

h1 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#section_connectez_vous {
  text-align: center;
  display: flex;
  width: 754px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 19px;
  background: #FAFAFA;
}

#LeTableau {
  display: flex;
  width: 350px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#Email, #MotDePasse, #Confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
  align-self: stretch;
}

p {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  height: 40px;
  align-self: stretch;
  height: 40px;
  align-self: stretch;
  border-radius: 4px;
  background: #F0F0F0;
}

button {
  display: flex;
  width: 270px;
  height: 40px;
  padding: 10px 89.5px 10px 88.5px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--lisi-primary-lisi-primary, #0AF);
  font-family: 'Raleway', sans-serif;
}
