body.connection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/imgdrapeaux.jpg), lightgray (50% / cover) no-repeat;
}

.connection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

h1.connection-title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.section-log {
  text-align: center;
  display: flex;
  width: 754px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 19px;
  background: #FAFAFA;
}

.LeTableau {
  display: flex;
  width: 350px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

h2.connection-second_title {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p.connection-p {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input.connection-in {
  height: 40px;
  width: 250px;
  align-self: stretch;
  border-radius: 4px;
  background: #F0F0F0;
  
}