@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=auto");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=auto");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&&display=auto");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=auto");
.bodyAdmin {
  background-color: #F1F1F1;
}

.nav_admin {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #F7F7F7;
  padding: 20px;
}
.nav_admin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_admin li {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.nav_admin a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.nav_admin a.active, .nav_admin a:hover {
  border: 2px solid black;
  padding: 8px;
  border-radius: 12px;
}

.mainAdmin {
  margin-left: 300px;
}

button {
  transition: background-color 0.1s ease;
}
button:hover {
  transform: translateY(-2px);
  transition: transform 0.1s ease-in-out;
}

/* CSS Tableau de bord */
.adminMenu-msg {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.chart-container {
  width: 600px;
  height: 1200px;
}

.navAdmin {
  margin-left: 270px;
}
.navAdmin li {
  display: inline-block;
  right: 0;
}
.navAdmin ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.navAdmin a {
  color: #CD403D;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 1.3rem;
  display: block;
  font-family: "Poppins", sans-serif;
}
.navAdmin a:hover {
  color: black;
}

#sectionTopAdmin {
  display: flex;
  justify-content: space-between;
}

/* CSS Pages et Produits */
.searchBarAdmin {
  border-color: #2A4D73;
  border-radius: 42px;
  border-width: 1px;
  width: 180px;
  padding-left: 30px;
}

/* CSS Pages */
.allPages {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.viewPage {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  padding-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.viewPage:hover {
  transform: translateY(-8px);
  transition: transform 0.3s ease-in-out;
}
.viewPage h3 {
  text-align: center;
}
.viewPage hr {
  color: #E3E3E3;
  width: 80%;
}

.iconPage {
  font-size: 150px;
  color: #045a7c;
  margin-left: 30%;
}

/* BTN Pages et Produits */
/* CSS Produits */
.allProductsAdmin {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.viewProductAdmin {
  background-color: white;
  border-radius: 12px;
  width: 350px;
  padding-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.viewProductAdmin:hover {
  transform: translateY(-8px);
  transition: transform 0.3s ease-in-out;
}
.viewProductAdmin h3 {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.viewProductAdmin hr {
  color: #E3E3E3;
  width: 80%;
}
.viewProductAdmin img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.viewProductAdmin p {
  margin: 10px;
  color: #2F567E;
}

.priceAdmin {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 1.25rem;
}

/* CSS Profile */
.profileContentAdmin {
  display: flex;
}

.imageProfileAdmin {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.profileFormAdmin {
  display: flex;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.columnAdmin {
  margin-right: 40px;
}

.profileFormAdmin input {
  border-color: #2F567E;
  border-width: 1px;
  width: 335px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  color: #1E3050;
  font-size: 1rem;
  margin-bottom: 20px;
}

.profileTitleAdmin {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

body.config-body {
  background-color: #E63946;
  font-family: arvo;
  margin: 0;
  padding: 0;
}

.mainConfig {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1.config-title {
  text-align: center;
  text-transform: uppercase;
  color: #F1FAEE;
  font-size: 4rem;
}

.roller-config {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1D3557;
}

#spare-time-config {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #A8DADC;
}

.roller-config #rolltext-config {
  position: absolute;
  top: 0;
  animation: slide-config 5s infinite;
}

@keyframes slide-config {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}
body.security {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../images/flags.jpg");
  background-size: cover;
  background-position: center;
}
body.security * {
  box-sizing: border-box;
}

.wrapper-security {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}
.wrapper-security h1.title-security {
  font-size: 2.25rem;
  text-align: center;
}
.wrapper-security .rememberme-security {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: -15px 0 15px;
}
.wrapper-security .rememberme-security label input {
  accent-color: white;
  margin-right: 3px;
}
.wrapper-security .rememberme-security a {
  color: white;
  text-decoration: none;
}
.wrapper-security .rememberme-security a:hover {
  text-decoration: underline;
}
.wrapper-security .register-link-security {
  font-size: 0.9rem;
  text-align: center;
  margin: 20px 0 15px;
}
.wrapper-security .register-link-security p a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.wrapper-security .register-link-security p a:hover {
  text-decoration: underline;
}
.wrapper-security .input-box-security {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.wrapper-security .input-box-security input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: white;
  padding: 20px 45px 20px 20px;
}
.wrapper-security .input-box-security input::placeholder {
  color: white;
}

body.error {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 50vh;
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
}

.content-error {
  position: relative;
}
.content-error h2 {
  color: #fff;
  font-size: 12em;
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.content-error h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #CD403D;
}
.content-error h2:nth-child(2) {
  color: #CD403D;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
body.home-body {
  margin: 0;
  background-color: #CD403D;
}

.bg-img-home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/background_img1.png");
  min-height: 45rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
}

.content-header-home {
  display: flex;
  flex-direction: column;
}

.title-home {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 4rem;
}

.subtitle-home {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.chevron-double-home {
  color: white;
  width: 20%;
  align-self: center;
  margin-top: 75px;
  transition: 0.3s;
}
.chevron-double-home a {
  color: white;
  text-decoration: none;
}
.chevron-double-home:hover {
  transform: translateY(-5px);
}

.spacer-home {
  margin-top: 320px;
}

.container-home {
  position: absolute;
  top: 40px;
  right: 150px;
  margin: auto;
}

.nav-home {
  background-color: white;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.nav-home li {
  display: inline-block;
}
.nav-home a {
  color: #CD403D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: "Poppins", sans-serif;
}
.nav-home a.active, .nav-home a:hover {
  text-decoration: underline #CD403D 3px;
}

footer.footer-home {
  background-color: #CD403D;
  padding: 20px;
  text-align: center;
}
footer.footer-home li {
  display: inline;
  margin: 20px;
}
footer.footer-home a, footer.footer-home hr {
  color: white;
}
footer.footer-home p {
  color: white;
  font-size: 1em;
  text-align: center;
}

.social-media-home {
  position: relative;
  font-size: 2em;
  text-align: right;
  right: 80px;
}
.social-media-home a {
  margin: 10px;
}

h1.homepage {
  margin-top: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: white;
}

.homepage-content {
  background-color: #CD403D;
}

.homepage-content-text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
}

.homepage-content-img {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 80px;
}
.homepage-content-img .img-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-content-img .img-text img {
  width: 250px;
  height: 250px;
}
.homepage-content-img .img-text h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.homepage-content-img .img-text p {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  max-width: 250px;
}

.discover-products {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover-products img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 50px;
  float: left;
}

.discover-products-text {
  padding-left: 20px;
  padding-right: 40%;
}
.discover-products-text h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: white;
}
.discover-products-text p {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: white;
}

.products-content {
  background-color: aqua;
}

/*
.button {
	--text-color: var(--white);
	--text-hover-color: var(--white);
	display: inline-block;
	font-family: var(--main-font);
	color: var(--text-color);
	text-decoration: none;
	font-weight: 600;
	font-size: rem(16);
	line-height: rem(18);
	padding: rem(10) rem(16);
	border-radius: var(--main-radius);
	border: none;
	background-color: var(--button-bg-color);
	cursor: pointer;
	transition: all var(--transition-duration);
	&:hover {
		background-color: var(--button-bg-hover-color);
		color: var(--text-hover-color);
	}

	// Modificateurs de couleur
	&-primary {
		--button-bg-color: var(--blue);
		--button-bg-hover-color: var(--blue-darker);
	}
	&-secondary {
		--button-bg-color: var(--grey);
		--button-bg-hover-color: var(--grey-darker);
	}
	&-danger {
		--button-bg-color: var(--red);
		--button-bg-hover-color: var(--red-darker);
	}

	&-outline {
		--button-bg-color: transparent;
		--button-bg-hover-color: var(--text-color);
		--text-hover-color: var(--white);
		border: solid thin currentColor;
	}

	// Modificateurs de taille
	&-lg {
		padding: rem(16) rem(24);
	}
	&-sm {
		padding: rem(8) rem(12);
	}
}
*/
/* --- START ADMIN BUTTONS --- */
.btnAddAdmin {
  border: none;
  background-color: #2F567E;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: 180px;
  height: 40px;
  border-radius: 4px;
}

.btnPageAdmin {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btnViewAdmin {
  border-color: #2F567E;
  border-radius: 4px;
  border-width: 1px;
  background-color: white;
  color: #2F567E;
}

.btnEditAdmin {
  border: none;
  border-radius: 4px;
  border-width: 1px;
  background-color: #2F567E;
  color: white;
}

.btnDeleteAdmin {
  border: none;
  border-radius: 4px;
  border-width: 1px;
  background-color: #CD403D;
  color: white;
}

.btnViewAdmin, .btnEditAdmin, .btnDeleteAdmin {
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  width: 90px;
  height: 40px;
}

.btnEditAdmin:hover, .btnAddAdmin:hover {
  background-color: #4d6ae0;
}

.btnViewAdmin:hover {
  background-color: #E3E3E3;
}

.btnDeleteAdmin:hover {
  background-color: #e04d4d;
}

.btnProductAdmin {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btnSaveChangeAdmin, .btnCancelChangeAdmin {
  width: 200px;
  height: 40px;
}

.btnSaveChangeAdmin {
  border: none;
  border-radius: 4px;
  border-width: 1px;
  background-color: #1E3050;
  color: white;
}

.btnCancelChangeAdmin {
  border-color: #1E3050;
  border-radius: 4px;
  border-width: 1px;
  color: #1E3050;
}

.btnSaveChangeAdmin:hover {
  background-color: #5773a1;
}

.btnCancelChangeAdmin:hover {
  background-color: #d7e6ff;
}

/* --- END ADMIN BUTTONS --- */
/* --- START CONFIG BUTTONS --- */
.btnConfig {
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 1.2em;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: #E63946;
  text-decoration: none;
  transition: all 0.5s;
}
.btnConfig span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btnConfig span:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  right: -25px;
  transition: 1s;
}
.btnConfig:hover span {
  padding-right: 25px;
}
.btnConfig:hover span:after {
  opacity: 1;
  right: 0;
}

/* --- END CONFIG BUTTONS --- */
/* --- START CONNECTION BUTTONS --- */
.btn-security {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0;
  transition: all 0.3s ease;
}

/* --- END CONNECTION BUTTONS --- */
/* --- START HOME BUTTONS --- */
.discover-button-home {
  width: 20%;
  border: white solid 2px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 50px;
  align-self: center;
}
.discover-button-home a {
  color: white;
  text-decoration: none;
}
.discover-button-home:hover {
  transform: translateY(-5px);
}

/* --- END HOME BUTTONS --- */

/*# sourceMappingURL=style.css.map */
